<% provide(:title, "Create New Documents") %>
<div class="row">
  <div class="col-xs-14">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-th"></span>
        Edit Document(s) for
        <%= @parent_category.name %>
        Subfolder
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
