// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
    Created on : 1 November, 2016, 7:52:36 AM
    Author     : Sipho Msiza
    File       : Jimmy`s Panel Beater landing template
    version    : v1.0
*/
